<% provide(:title, 'ユーザー一覧') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<h1>ユーザー一覧</h1>

<div class="input-group">
   <%= form_tag(users_path, method: "get") do %>
    <div>
     <%= label_tag :name, "ユーザー名検索" %>
    </div>
    <div style="display:inline-flex">
     <form class="form-group room-in">
         <%= text_field_tag :name, params[:name],:placeholder => "キーワードで検索", class: 'form-control'  %>
         <span class="input-group-btn"><%= submit_tag "検索", class: "btn btn-primary room-inbtn" %></span>
     </form>
    </div>
   <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">

    <% @users.each do |user| %>
 	
<thead>
 <tr>
   <th>
          <% if current_user.admin? %>
            <%= user.name %>
          <% else %>
            <%= user.name %>
          <% end %> 
   </tr>
 </th>  
</thead>
<tbody>
<tr>
  <td>
          <% if current_user.admin? && !current_user?(user) %>
                      <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
           
  </td>
</tr>
<tr>
  <td>
     <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-primary btn-lg btn-block" %> 
     
    <section>
     <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#sample-<%= user.id %>">コンテンツを開く </button>
      <div id="sample-<%= user.id %>" class="collapse">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1>ユーザー情報の更新</h1>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                   <%= render :partial => "form", :locals => { user : user } %>
                </div>
               </div>
          </div>
        </div>
      </div>
    </section>   
  </td>
</tr>
</tbody>
      <% end %>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>